@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
 
  font-size: 20px;
  font-family: 'Roboto',sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  background: grey;
  color: white;
  margin-bottom: 10px;

 
}
.container{
  max-width: 750px;
  margin:auto;
padding-top: 30px;
}

.avatar{
  width: 350px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0,0,0.25);
  
}
.info{
  margin-bottom: 20px;
  display: flex;
 

}
 .info-text{
  margin-left: 50px;
 }

.info-text p { 
  font-style: italic;
  font-weight: bold;
  color: yellow;
  background: black;
  margin: 40px auto;

}
.info-text h4{
  margin-bottom: 10px;
}
@media(max-width:650px){
  .info{
    text-align: center;
    display: block;
  }
}
.info-hobby  {
  border: 6px solid black;
  border-radius: 10px;
  color: rgb(255, 153, 0);
  background: rgb(0, 255, 242);
  padding: 15px 20px;
}
.work {
  border: 10px solid blue;
  border-radius: 15px;
  color:rgb(20, 18, 18);
  background: rgb(204, 226, 198);
  padding: 15px 20px;
}
.Contacts {
  border: 15px solid purple;
  border-radius: 20px;
  color:black;
  background:yellow;
  padding: 15px 20px;
}


.btn{
  color: white;
  background: black;
  padding: 15px 20px;
  border: none;
  font-family: inherit;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover{
  opacity: .8;
  color: lightgreen;
}

a{
  color: aqua;
  text-decoration: none;
}
a:hover{
  color: red;
  text-decoration: underline;
}
a:active{
color: red;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  
}
.list li{
  color: black;
  margin-bottom: 10px;
  border-bottom: 2px solid grey;

}
.table{
  width: 100%;
}
.table td{
  padding-bottom: 10px;
}

.table td:hover{
  background:green ;
}

.table td:nth-child(1){
  background: red;
}
.table td:nth-child(2){
  background: blue;
}
.table td:nth-child(3){
  background: green;
}

.form h2{
  text-align: center
}
.form-row{
  margin-bottom: 10px;
  display: flex;

}
.form-row .form-group{
  
  margin-right: 30px;
  width: 50%;
  /* width:calc(50%-20px) */
  /* display: inline-block; */
}
.form-row .form-group:last-child{
  margin-right: 0;
}
@media(max-width:650px){
  .form-row{
    margin-bottom: 10px;
    display: block;
  
  }
  .form-row .form-group{
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.form-group label{
  display: block;
  font-size: 14px;
  color: green;
}
.form-group input,.form-group textarea{
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom:1px solid #ccc ;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}